aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
amqp==5.1.1
anyio==3.7.0
apiclient==1.0.4
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==3.6.4.0
boto3==1.26.146
botocore==1.29.146
bs4==0.0.1
celery==5.2.7
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
confluent-kafka==2.1.1
cryptography==41.0.1
cssselect==1.2.0
chromadb==0.3.26
dataclasses-json==0.5.7
defusedxml==0.7.1
docx2txt==0.8
dnspython==2.3.0
email-validator==2.0.0.post2
exceptiongroup==1.1.1
fake-useragent==1.1.3
fastapi==0.95.2
fastapi-jwt-auth==0.5.0
FastAPI-SQLAlchemy==0.2.1
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.12.0
frozenlist==1.3.3
google-search-results==2.4.2
google-serp-api==1.0.3
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
greenlet==2.0.2
h11==0.14.0
halo==0.0.31
httpcore==0.17.2
httptools==0.5.0
httpx==0.24.1
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
itsdangerous==2.1.2
jieba3k==0.35.1
Jinja2==3.1.2
jira==3.5.0
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonmerge==1.9.0
jsonschema==4.17.3
kombu==5.2.4
llama-index==0.6.35
log-symbols==0.0.14
loguru==0.7.0
lxml==4.9.2
Mako==1.2.4
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
multidict==6.0.4
mypy-extensions==1.0.0
newspaper3k==0.2.8
nltk==3.8.1
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.2
oauth2client==4.1.3
openai==0.27.7
openapi-schema-pydantic==1.2.4
orjson==3.8.14
packaging==23.1
parse==1.19.0
Pillow==9.5.0
pinecone-client==2.2.1
prompt-toolkit==3.0.38
psycopg2==2.9.6
pycparser==2.21
pydantic==1.10.8
PyJWT==1.7.1
PyPDF2==3.0.1
pyquery==2.0.0
pyrsistent==0.19.3
pytest==7.3.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0
qdrant-client==1.3.1
redis==4.5.5
regex==2023.5.5
requests==2.31.0
requests-file==1.5.1
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
s3transfer==0.6.1
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
spinners==0.0.24
starlette==0.27.0
SQLAlchemy==2.0.16
tenacity==8.2.2
termcolor==2.3.0
tiktoken==0.4.0
tinysegmenter==0.3
tldextract==3.4.4
tqdm==4.65.0
tweepy==4.14.0
typing-inspect==0.8.0
ujson==5.7.0
urllib3==1.26.16
uvicorn==0.22.0
vine==5.0.0
w3lib==2.1.1
watchfiles==0.19.0
wcwidth==0.2.6
weaviate-client==3.20.1
websockets==10.4
yarl==1.9.2
zipp==3.15.0
tiktoken==0.4.0
psycopg2==2.9.6
slack-sdk==3.21.3
pytest==7.3.2
pylint==2.17.4
pre-commit==3.3.3
pytest-cov==4.1.0
pytest-mock==3.11.1
transformers==4.30.2
pypdf==3.11.0
python-pptx==0.6.21
Pillow==9.5.0
EbookLib==0.18
html2text==2020.1.16
duckduckgo-search==3.8.3 
google-generativeai==0.1.0
unstructured==0.8.1
