cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.3.0
google-api-core==2.12.0
google-api-python-client==2.103.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
httplib2==0.22.0
idna==3.4
protobuf==4.24.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.8
pyparsing==3.1.1
PyYAML==6.0
requests==2.31.0
rsa==4.9
superagi-tools==1.0.8
typing_extensions==4.8.0
uritemplate==4.1.1
urllib3==2.0.6
