.tool_filter {
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    min-width: 55px;
    text-align: center;
}

.tab_button {
    width: 100%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 8px 10px;
}

.selected {
    background: #EBEBEB;
    color: #111111;
}

.not_selected {
    background: transparent;
    color: #666666;
}

.tool_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    gap: 10px;
}

.tool_name {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #FEFEFE;
    margin-top: -2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tool_publisher {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #666666;
    margin-top: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tool_description {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tool_box {
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

.tag_box {
    display: flex;
    margin: 15px 0 0 0;
    flex-wrap: wrap;
}
.more_button{
    margin-left: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 6px;
    width: 36px;
    height: 32px;
    background: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.tool_box:hover{
    background-color: #494856;
    transition: 0.4s;
}
.image_class{
    background: #FFFFFF80;
    border-radius: 20px;
}

.CodeMirror{
    background-color: #291A66 !important;
    border: 1px solid #4A4A55 !important;
}
.code_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
}
.button_class{
    margin-top:15px;
    float: right;
    display: flex;
    gap: 5px;
}