.dropdown_placement{
    z-index: 9999;
    position :relative;
    top: 4vh
}

.code_block_topbar{
    background: #2E294B;
    color: white;
    font-size: 14px;
    padding:8px;
    height:4.5vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.diagram_content{
    padding-left:0;
    padding-right:0;
    height:76vh;
    width:50%
}